<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Navbar with Expanding Search Bar</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Josefin+Sans:ital@0;1&family=Poppins&family=Sofia&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0&icon_names=east" />
  <link rel="stylesheet" href="/public/css/research.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <img src="/public/images/ATIRC SEC 1.jpg" alt="Logo" class="header-logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="who-we-are.html">Who we are</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="what-we-do.html">What we do 
              <span class="dropdown-icon"></span> <!-- Custom triangle icon -->
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Overview</a></li>
              <li><a href="learning.html">Learning</a></li>
              <li><a href="incubation.html">Incubator</a></li>
              <li><a href="research.html">Research</a></li>
              <li><a href="consulting.html">Consulting</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="news.html">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="career.html">Career</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 flex-grow-1 position-relative" style="width: 300px;">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" 
              style="padding-left: 30px; padding-right: 40px; width: 100%;">
            <i class="fas fa-search position-absolute" 
              style="right: 418px; top: 62%; transform: translateY(-50%); color: gray; pointer-events: none;"></i>
          </form>
      </div>
    </div>
  </nav>
  <div class="landing-section">
    <div class="landing-img">
      <div class="landing-text">
        <h1 class="landing-page-heading">Research Area</h1>
        <p class="landing-page-para">Home <i class="fas fa-arrow-right"></i> What we do <i class="fas fa-arrow-right"></i>Research</p>
      </div>
    </div>
</div>
<p class="down-paragraph">ATIRC’s Research Program fosters groundbreaking innovations across <br>diverse fields like AI, Biotech, Clean Tech, and Quantum Computing. By <br>encouraging collaboration between researchers, students, and industry <br>experts, we aim to tackle real-world challenges, advance knowledge, and <br>drive technological progress that will shape Africa’s future and contribute <br>globally to scientific advancements.</p>


<div class="container my-5">
    <div class="row g-4">
        <div class="col-md-6">
            <div class="course-card0">
                <div class="image-container img1"></div>
                <div class="course-body">
                    <h5 class="course-title">AgricTech</h5>
                    <p class="course-text">Research in Agritech at ATIRC focuses on smart farming,<br> precision agriculture, and sustainable agricultural practices. <br>Projects aim to enhance food security, increase crop yield, and <br>optimize farming techniques through technology. ATIRC’s <br>research initiatives support innovation in agri-tech solutions to <br>tackle global challenges related to climate change and <br>agricultural efficiency.</p>
                    <a href="#" class="apply-link">Apply here <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="course-card7">
                <div class="image-container"></div>
                <div class="course-body">
                    <h5 class="course-title">Artificial Intelligence</h5>
                    <p class="course-text">AI/ML research at ATIRC focuses on advancing algorithms and<br> models that can be applied across various industries.<br> Researchers work on developing intelligent systems, predictive<br> analytics, and automation tools, transforming sectors like<br> healthcare, finance, and transportation. ATIRC’s AI/ML research<br> seeks to make data-driven insights more accessible <br>and actionable for businesses.</p>
                    <a href="#" class="apply-link">Apply here <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="course-card1">
                <div class="image-container"></div>
                <div class="course-body">
                    <h5 class="course-title">NanoTech</h5>
                    <p class="course-text">Nanotechnology research at ATIRC explores the application of <br>nanomaterials in electronics, healthcare, and environmental <br>sustainability. Projects investigate how manipulating matter at<br> the nanoscale can lead to new innovations, from more efficient <br>electronics to medical breakthroughs. ATIRC is dedicated to<br> pioneering new technologies with vast potential for improving <br>everyday life.</p>
                    <a href="#" class="apply-link">Apply here <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="course-card-1">
                <div class="image-container"></div>
                <div class="course-body">
                    <h5 class="course-title">BioTechnology</h5>
                    <p class="course-text">Biotechnology research at ATIRC focuses on developing new <br>biological and biotechnological solutions for health, agriculture,<br> and the environment. Researchers explore genetic engineering,<br> biomaterials, and sustainable practices to improve global food <br>security, healthcare, and environmental conservation. The <br>program supports breakthrough innovations that address <br>pressing global challenges.</p>
                    <a href="#" class="apply-link">Apply here <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="course-card2">
                <div class="image-container"></div>
                <div class="course-body">
                    <h5 class="course-title">Education Technology</h5>
                    <p class="course-text">EdTech research at ATIRC investigates how digital technologies <br>can enhance educational outcomes. Projects focus on <br>improving teaching methods, creating personalized learning <br>experiences, and increasing access to education through <br>online platforms. ATIRC supports research to revolutionize <br>education, fostering solutions that bridge gaps and ensure <br>equitable learning opportunities for all</p>
                    <a href="#" class="apply-link">Apply here <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="course-card-2">
                <div class="image-container"></div>
                <div class="course-body">
                    <h5 class="course-title">CleanTech</h5>
                    <p class="course-text">CleanTech research at ATIRC focuses on innovations that <br>reduce environmental impact and promote sustainability. <br>Projects address climate change, energy efficiency, waste <br>reduction, and renewable energy solutions. ATIRC aims to <br>support the development of technologies that create <br>sustainable, eco-friendly solutions and contribute to building a <br>greener, more sustainable world.</p>
                    <a href="#" class="apply-link">Apply here <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="course-card8">
                <div class="image-container"></div>
                <div class="course-body">
                    <h5 class="course-title">AR/VR</h5>
                    <p class="course-text">AR/VR research at ATIRC explores immersive technology <br>applications for education, training, therapy, and <br>entertainment. The research delves into how virtual and<br> augmented environments can be used to create engaging and <br>transformative experiences. ATIRC’s AR/VR research focuses on <br>developing innovative, real-world applications in multiple <br>industries to enhance user experiences.</p>
                    <a href="#" class="apply-link">Apply here <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="course-card3">
                <div class="image-container"></div>
                <div class="course-body">
                    <h5 class="course-title">Quantum Computing</h5>
                    <p class="course-text">ATIRC’s Quantum Computing research explores the potential of <br>quantum mechanics to solve complex computational <br>problems. Researchers investigate quantum algorithms, <br>quantum encryption, and how quantum technology can <br>revolutionize industries such as healthcare, cybersecurity, and <br>finance. The research aims to push the boundaries of <br>computation and unlock new scientific frontiers.</p>
                    <a href="#" class="apply-link">Apply here <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="course-card9">
                <div class="image-container"></div>
                <div class="course-body">
                    <h5 class="course-title">6G/Networking</h5>
                    <p class="course-text">Blockchain research at ATIRC investigates the applications of <br>decentralized technology beyond cryptocurrency. Projects <br>explore how blockchain can improve transparency, security, <br>and efficiency across various industries, including supply chain,<br> healthcare, and data management. The research aims to <br>create transformative solutions that foster trust, accountability, <br>and innovation in business operations.</p>
                    <a href="#" class="apply-link">Apply here <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="course-card4">
                <div class="image-container"></div>
                <div class="course-body">
                    <h5 class="course-title">Robotics</h5>
                    <p class="course-text">Robotics and IoT research at ATIRC focuses on advancing <br>automation and connected devices. Projects explore innovative <br>robotics solutions for industrial, healthcare, and service sectors.<br> IoT research investigates how interconnected devices can <br>streamline processes and enhance data collection, enabling <br>smarter decision-making in various applications, from <br>manufacturing to healthcare.</p>
                    <a href="#" class="apply-link">Apply here <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    </div>

  <footer class="bg-light py-5 footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 mb-4">
          <img src="/public/images/ATIRC_SEC_2_copy-removebg-preview.png" alt="ATIRC Logo" class="mb-3" style="background-color: transparent; width: 50px;">
          <p class="footer-text">
            ATIRC stands as a beacon of hope for aspiring tech enthusiasts, entrepreneurs, and researchers aged 15 to 35. Our vision is to become Africa's leading technology incubation and research center, driving advancements in emerging technologies and providing a platform for young innovators to thrive.
          </p>
          <div class="link-icons">
            <a href="#" class="me-3"><i class="fab fa-facebook-f" style="color: #EEEEEE;"></i></a>
            <a href="#" class="me-3"><i class="fab fa-instagram" style="color: #EEEEEE;"></i></a>
            <a href="#" class="me-3"><img src="/public/images/x-icon.png" class="x-icon"></a>
            <a href="#" class="me-3"><i class="fab fa-linkedin-in" style="color: #EEEEEE;"></i></a>
            <a href="#" class="me-3"><i class="fab fa-tiktok" style="color: #EEEEEE;"></i></a>
            <a href="#" class="me-3"><i class="fab fa-youtube" style="color: #EEEEEE;"></i></a>
          </div>
        </div>
        <div class="col-md-2 mb-4 product-section">
          <h5 class="product">Products</h5>
          <ul class="list-unstyled">
            <li><a href="#">Who are we</a></li>
            <li><a href="#">What we do</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-2 mb-4 company-section">
          <h5 class="company">Company</h5>
          <ul class="list-unstyled">
            <li><a href="#">About</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">News</a></li>
          </ul>
        </div>
        <div class="col-md-2 mb-4 legal-section">
          <h5 class="legal">Legal</h5>
          <ul class="list-unstyled">
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Security</a></li>
          </ul>
        </div>
        <div class="col-md-3 mb-4">
          <h5 class="contact">Contact</h5>
          <p class="contact-text">
            Thank you for your interest in ATIRC. We’re excited to hear from you! Whether you have questions about our programs, partnerships, or opportunities, feel free to reach out. Our team is here to support you and provide more information. We look forward to connecting and collaborating with you soon!
          </p>
          <p class="contact-email">Contact <a href="mailto:contact@atirc.com">@ATIRC.com</a></p>
          <p class="contact-number"><a href="tel:+234700001000">+234 700 001 000</a></p>
        </div>
      </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>