body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Poppins", serif;
    overflow-x: hidden;
  }
  
  .navbar-brand img {
      max-height: 40px;
      max-width: 150px; 
      margin-top: 14px;
      margin-left: 66px;
    }
    .navbar-nav .nav-link {
      padding-left: 10px; 
      padding-right: 10px;
      text-decoration: none;
      font-family: "Poppins", serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin-top: 19px;
      margin-left: 5px;
    }
  
    .nav-item {
       margin-right: 20px; 
    }
  
    .nav-link {
      color: #0D0D0D;
    }
    .navbar-nav {
      flex-wrap: nowrap;
      list-style: none;
    }
    
    .form-control {
      width: 100%; 
      height: 48px;
      border-radius: 8px;
      border: 1px solid #BABABA;
      box-sizing: border-box;
      margin-left: 40px;
      margin-top: 15px;
    }
  
  
    .navbar-collapse {
      margin-left: 70px;
    }
    
    /* .container-fluid {
      display: flex;
      background-color: #FFFFFF;
      margin: 0;
    } */
  
    .navbar-custom {
      background-color: #ffffff; 
    }
    .navbar-custom .navbar-nav .nav-link {
      color: #000000; 
    }
    .navbar-custom .navbar-nav .nav-link:hover {
      color: #555555; 
    }
    .navbar-custom .navbar-toggler {
      border-color: rgba(0, 0, 0, 0.1);
    }
    .navbar-custom .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    .search-bar {
      display: none; 
      width: 712px;
    }
    .search-icon {
      font-size: 1.5rem;
      cursor: pointer;
      display: none; 
    }

    .nav-item.dropdown {
        position: relative;
      }
      
      .nav-item .nav-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        font-size: 16px;
        padding: 10px;
      }
      
      .dropdown-icon {
        margin-left: 8px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid red; 
        transition: transform 0.3s ease;
      }
      
      .dropdown-menu {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 180px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        border-radius: 5px;
        padding: 10px 0;
        list-style: none;
      }
      
      .dropdown-menu li a {
        color: black;
        padding: 10px 16px;
        text-decoration: none;
        display: block;
        font-size: 14px;
      }
      
      .dropdown-menu li a:hover {
        background-color: #f1f1f1;
      }
      
      .nav-item.dropdown:hover .dropdown-menu {
        display: block;
      }
      
      .nav-item.dropdown:hover .dropdown-icon {
        transform: rotate(180deg);
      }
  
    .landing-section {
      background: 
      linear-gradient(270deg, rgba(0, 0, 0, 0) 57.12%, rgba(0, 0, 0, 0.8) 103.16%),
      url('/public/images/news-landing-page2.jpeg') no-repeat center center/cover;
      height: 95vh; 
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
      padding: 0 20px;
      position: relative;
      margin-top: 15px;
      background-position: contain;
  }
  
  .landing-content {
      max-width: 600px; 
      background: rgba(0, 0, 0, 0.6);
      padding: 20px;
      border-radius: 10px;
  }
  
  .landing-img h1 {
    font-size: 36px; 
    font-weight: 500; 
    margin-bottom: 15px; 
    color: #FFFFFF;
    text-transform: uppercase; 
    letter-spacing: 1px; 
  }
  
  .landing-img p {
    font-size: 14px; 
    line-height: 20px; 
    margin-bottom: 25px; 
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .landing-img {
    margin-top: 125px;
  }

  .landing-text {
    margin-top: 490px;
    margin-left: -980px;
  }

   .landing-page-heading {
    color: #f1f1f1 !important;
    font-size: bold !important;
    line-height: 72px;
    font-weight: 700;
    position: relative;
    left: -69px;
    text-transform: none !important;
  }
  
  .landing-page-para {
    color: #f1f1f1 !important;
    font-size: 22px !important;
    line-height: 36px;
    font-weight: 600;
    position: relative;
    top: -20px;
    left: -40px;
  }

  .fa-arrow-right {
    color: #F23846;
  }
  
  .custom-btn {
      background-color: #F23846;
      border: none;
      color: white;
      padding: 12px 25px;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
      display: inline-block;
      width: 211px;
      height: 56px;
      border: 1px solid #F23846 !important; 
      gap: 8px;
      margin-bottom: 16px;
      margin-right: 8px;
  }
  
  .btn.custom-btn:hover {
    color: white !important;
  }
  
  .custom-btnn {
    background-color: white;
    border: none;
    color: #F23846;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    width: 211px;
    height: 56px;
    border: 1px solid #F23846 !important; 
    gap: 8px;
    margin-bottom: 16px;
    margin-right: 8px;
  }
  
  .btn.custom-btnn:hover {
  color: white !important;
  }

  .get-in-touch-us {
    text-align: center;
    font-size: 36px;
    margin-top: 30px;
  }

  .get-in-touch-us-1 {
    display: none;
  }
  
  .down-paragraph {
    color: #8B8B8B;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: justify;
    margin-left: 472px;
    margin-top: 20px;
  }

  .down-paragraph1 {
    display: none;
  }

  .form-select {
    width: 398px;
    height: 56px;
    color: #8B8B8B !important;
  }

  .option1 {
    margin-left: -40px;
  }

  .option2 {
    margin-left: 10px;
  }

  .option3 {
    margin-left: 59px;
  }

  .news-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
}
.news-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.load {
    margin-top: 80px;
    text-align: center;
    margin-left: 500px;
    background-color: #F23846;
    width: 211px;
    height: 56px;
    top: 2663px;
    left: 110px;
    gap: 8px;
    padding: 16px 8px;
    border: none !important;
    outline: none !important; 
    color: #FFFFFF;
    font-weight: 600;
    font-size: 19px;
    line-height: 27px;
}

.load:hover,
.load:focus,
.load:active {
    border: none !important;
    outline: none !important; 
    box-shadow: none !important;
}


.updated-box1 {
    display: flex;
    margin-left: -140px;
  }

  .updated-box2 {
    display: flex;
    margin-left: -140px;
    margin-top: 20px;
  }

  .updated-box3 {
    display: flex;
    margin-left: -140px;
    margin-top: 20px;
  }
  
  .box1 {
    background-image: url("/public/images/block-chain.jpeg");
    background-repeat: no-repeat;
    width: 396px;
    height: 447px;
    background-color: #FFFFFF;
    margin-left: 106px;
    top:268px;
    border-radius: 8px;
    border: 1px solid #DDDCDC;
    background-size: contain;
  }
  
  .updated-box-1-content1 {
    display: flex;
  }
  
  .box1-text {
    margin-top: 274px;
    color: #8B8B8B;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 16px;
    white-space: nowrap;
  }
  
  .box1-number {
    color: #8B8B8B;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    margin-top: 274px;
    margin-left: 90px;
  }
  
  .updated-box-1-content2 {
   top: -8px;
    display: flex;
    position: relative;
    margin-left: 16px;
  }
  
  .more {
  color: #F23846;
  width: 47px;
  height: 27px;
  font-weight: 600;
  font-size: 18px;
  margin-top: 85px;
  position: relative;
  right: -50px;
  }
  
  .content2-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0D0D0D;
  }
  
  .box2 {
    background-image: url("/public/images/block-chain.jpeg");
    background-repeat: no-repeat;
    width: 399px;
    height: 447px;
    background-color: #FFFFFF;
    margin-left: 46px;
    top:268px;
    border-radius: 8px;
    border: 1px solid #DDDCDC;
    background-size: contain;
  }
  
  .updated-box-2-content1 {
    display: flex;
  }
  
  .box2-text {
    margin-top: 274px;
    color: #8B8B8B;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 16px;
    white-space: nowrap;
  }
  
  .box2-number {
    color: #8B8B8B;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    margin-top: 274px;
    margin-left: 90px;
  }
  
  .updated-box-2-content2 {
   top: -8px;
    display: flex;
    position: relative;
    margin-left: 16px;
  }
  
  .content-2-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0D0D0D;
  }
  
  
  .box3 {
    background-image: url("/public/images/block-chain.jpeg");
    background-repeat: no-repeat;
    width: 396px;
    height: 447px;
    background-color: #FFFFFF;
    margin-left: 36px;
    top:268px;
    border-radius: 8px;
    border: 1px solid #DDDCDC;
    background-size: contain;
  }
  
  
  .updated-box-3-content1 {
    display: flex;
  }
  
  .box3-text {
    margin-top: 274px;
    color: #8B8B8B;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 16px;
    white-space: nowrap;
  }
  
  .box3-number {
    color: #8B8B8B;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    margin-top: 274px;
    margin-left: 90px;
  }
  
  .updated-box-3-content2 {
   top: -8px;
    display: flex;
    position: relative;
    margin-left: 16px;
  }
  
  .more {
  color: #F23846;
  width: 47px;
  height: 27px;
  font-weight: 600;
  font-size: 18px;
  margin-top: 85px;
  position: relative;
  right: -50px;
  display: flex;
  }
  
  .more-icon {
    margin-top: 6px;
    margin-left: 10px;
  }

  .icons {
    display: none;
  }
  
  .footer {
    margin-top: 92px;
    background-color: #BABABA !important;
    width: 1480px;
    margin-left: -159px;
  }
  
  .x-icon {
    width: 20px;
    margin-left: 5px;
  }
  
.down-icon {
    display: none;
}

  .footer-text {
    margin-top: 1px;
    font-weight: 400;
    font-size: 8px;
    line-height: 10.5px;
  }
  
  .product, .company, .legal, .contact {
    font-weight: 600;
    font-size: bold;
    line-height: 27px;
    color: #0D0D0D;
  }
  
  .product-section, .company-section, .legal-section {
    color: #0D0D0D !important;
  }
  
  .product-section a, .company-section a, .legal-section a {
    color: #0D0D0D !important;
    text-decoration: none;
    font-weight: 400;
  }
  
  .list-unstyled li {
    margin-bottom: 10px;
  }
  
  .contact-text {
    font-weight: 400;
    font-size: 8px;
    line-height: 13.5px;
    color: #0D0D0D !important;
  }
  
  .contact-email a, .contact-number a {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #000000 !important;
  }
  
  .link-icons {
    margin-top: 20px;
  }



@media (max-width: 480px) {
    body {
      background-color: red;
    }

    .navbar-nav {
        position: relative;
        left: 210px !important;
      }

      .box1{
        margin-left: 14px !important;
      }

      .box2{
        margin-left: 14px !important;
      }

      .box3{
        margin-left: 14px !important;
      }

      .load {
        margin-left: 110px !important;
      }


    .search-bar {
      display: none; 
      width: none; 
    }
    .search-icon {
      display: block; 
    }
  }
  @media (max-width: 768px) {
    .landing-section {
        background: linear-gradient(180.44deg, rgba(14, 126, 169, 0) -1.53%, #000000 112.25%),
        url('/public/images/consulting-2.png') no-repeat center center/cover;
         height: 363px;
         width: 505.12px; 
         margin-top: -10px;
    }

    .landing-text {
        margin-top: 440px;
        margin-left: -240px;
      }
    
      .landing-page-heading {
        color: #ffffff !important;
        font-size: 38px !important;
        line-height: 72px;
        font-weight: 700;
        margin-top: -270px;
        margin-left: 50px;
      }

      .more-icon {
        position: relative;
        top: -5px !important;
      }
      
      .landing-page-para {
        color: #ffffff !important;
        font-size: 22px !important;
        line-height: 36px;
        font-weight: 600;
        position: relative;
        left: -25px;
        top: -35px;
      }
    
      .fa-arrow-right {
        color: #F23846;
        font-size: 30px;
        position: relative;
        top:5px;
      }
  
      .learn-more-btn {
          font-size: 16px;
          padding: 10px 20px;
      }

      .form-control {
        display: none
      }

      .navbar-nav {
        position: relative;
        left: 260px;
      }

      .get-in-touch-us {
        display: none;
      }

      .get-in-touch-us-1 {
        display: block;
        font-size: 24px;
        text-align: center;
        margin-top: 40px;
        font-weight: 600;
      }

      .down-paragraph {
        display: none;
      }

      .down-paragraph1 {
        display: block;
        margin-left: 10px;
        text-align: center;
        margin-top: 15px;
      }

      .option1 {
        width: 100px;
        margin-left: 420px;
      }

      .option2 {
        width: 100px;
        margin-left: 540px;
        position: relative;
        top: -56px;
      }

      .option3 {
        width: 100px;
        margin-left:660px;
        position: relative;
        top: -112px;      }

      .row-mb-3 {
        display: flex !important;
      }

      .updated-box1 {
        margin-top: -100px;
        display: block;
        margin-left: 1px;
      }

      .box1 {
        margin-left: 40px;
      }

      .updated-box2 {
        margin-top: 40px;
        display: block;
        margin-left: 1px;
      }

      .box2 {
        margin-left: 40px;
        margin-top: 20px;
      }

      .updated-box3 {
        margin-top: 40px;
        display: block;
        margin-left: 1px;
      }

      .box3 {
        margin-left: 40px;
        margin-top: 20px;
      }

      .Explore-img {
        height: 70vh; 
        background-size: contain; 
        background-attachment: scroll; 
      }
      
      .explore-text {
        font-size: 30px; 
        line-height: 45px;
      }
    
      .explore-para {
        font-size: 20px;
        line-height: 30px;
      }


.load {
    margin-top: 80px;
    text-align: center;
    margin-left: 130px;
    background-color: #F23846;
    width: 211px;
    height: 56px;
    top: 2663px;
    left: 110px;
    gap: 8px;
    padding: 16px 8px;
    border: none !important;
    outline: none !important; 
    color: #FFFFFF;
    font-weight: 600;
    font-size: 19px;
    line-height: 27px;
}
  
      .footer {
        text-align: center;
      }
      .product-section, .company-section, .legal-section, .contact {
        margin-bottom: 20px;
      }

  
      .footer-text {
        display: block;
        position: relative;
        left: 155px;
        font-size: 9px;
        margin-right: 190px;
        text-align: justify;
        width: 25%;
        margin-top: 10px;
        line-height: 15px;
      }

      .footer-text1{
        display: none !important;
      }
      .mb-3 {
        position: relative;
        left: -380px;
        width: 7% !important; /* Set a fixed width */
        height: auto; /* Maintain aspect ratio */
        max-width: 100%; /* Prevent overflow */
    }
    .link-icons {
        margin-left: 70px;
    }
    .contact-text {
      display: block;
      position: relative;
      left: 155px;
      font-size: 11px;
      margin-right: 190px;
      text-align: justify;
      width: 25%;
      line-height: 20px;
    }
      .link-icons {
        position: relative;
        right: 550px;
      }
      .product {
        margin-right: 1060px;
      }
  
      .company {
        margin-right: 1050px;
      }
  
      .legal{
        margin-right: 1080px;
      }
      .contact {
        margin-right: 1060px;
      }
      
      .contact-email {
        right: 498px;
        white-space: nowrap;
        position: relative;
      }
  
      .contact-number {
        right: 520px;
        position: relative;
        white-space: nowrap;
      }
  
      .list-unstyled {
        display: none;
        flex-direction: column;
        background: white;
        position: absolute;
        top: 50px;
        right: 10px;
        border: 1px solid #ccc;
        padding: 10px;
        width: 150px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      }
    
      .icons {
          display: block; 
          border-top: 8px solid #000000;
          position: relative;
          top:-25px;
          left: 530px;
          font-size: 40px;
  
      }

      .footer-text1 {
        display: block !important; 
        font-size: 13px;
        
      }

      .contact-text1 {
        display: none !important;  
      }
      
    }
    
    .list-unstyled.active {
      display: flex;
  }